<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593325834593-4h3hrm14vcimtaucendgadhd8m33otm4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593325834593-4h3hrm14vcimtaucendgadhd8m33otm4</string>
	<key>API_KEY</key>
	<string>AIzaSyAHQFSsJ33dqGVnDvACaq0IH8FNB2uhmcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>593325834593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Nuga</string>
	<key>PROJECT_ID</key>
	<string>nuga-1a565</string>
	<key>STORAGE_BUCKET</key>
	<string>nuga-1a565.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593325834593:ios:73af741cc042e18a7d0520</string>
	<key>DATABASE_URL</key>
	<string>https://nuga-1a565.firebaseio.com</string>
</dict>
</plist>